<!DOCTYPE html>
<html>
<head>
	<title>Meu Blog com Python e MongoDB</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body class="container">
    <div>
        <div>
          <div>
            <div>
                %if (username != None):
                    Welcome {{username}}
                %else:
                    Já é usuario? <a href="/login">Login</a><p>
                %end
            </div>

            <ul class="nav nav-tabs">
                <li class="list-inline-item"><a href="/">Blog Home</a></li>
                %if (username != None):
                    <li class="list-inline-item"><a href="/newpost">Create a New Post</a></li>
                    <li class="list-inline-item"><a href="/newcategory">Create a New Category</a></li>
                    <li class="list-inline-item"><a href="/logout">Logout</a></li>
                %end
                <li class="list-inline-item"><a href="/signup">Signup</a></li>
            </ul>

          </div>
        </div>
        <br><p/>
        <center>
            <h3>Meu Blog com Python e MongoDB</h3>
            <h5>by André Silva Alves</h5>
        </center>


        %for post in myposts:

           <legend><a href="/post/{{post['permalink']}}">{{post['title']}}</a></legend>
            Postado em {{post['post_date']}} <i>Por {{post['author']}}</i><br>
            Comentários:
            %if ('comments' in post):
                %numComments = len(post['comments'])
            %else:
                %numComments = 0
            %end
            <a href="/post/{{post['permalink']}}">{{numComments}}</a>
            <hr style="background-color: #fff; border-top: 2px dotted #8c8b8b;">
            {{!post['body']}}
            <p/>
            <p/>
            <em>Arquivado nas tags</em>:
            %if ('tags' in post):
                %for tag in post['tags'][0:1]:
                    <a href="/tag/{{tag}}">{{tag}}</a>

                %for tag in post['tags'][1:]:
                , <a href="/tag/{{tag}}">{{tag}}</a>
                %end
            %end
            <p></p>
            <em>Categoria</em>:
            <a href="/category/{{post['category']}}">{{!post['category']}}</a>
            <br><br>
        %end

    </div>
</body>
</html>