<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Post</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body class="container">

  <div>
    <div>
        %if (username != None):
            Welcome {{username}}
        %else:
            Já é usuario? <a href="/login">Login</a><p>
        %end
    </div>

    <ul class="nav nav-tabs">
        <li class="list-inline-item"><a href="/">Blog Home</a></li>
        %if (username != None):
            <li class="list-inline-item"><a href="/newpost">Create a New Post</a></li>
            <li class="list-inline-item"><a href="/newcategory">Create a New Category</a></li>
            <li class="list-inline-item"><a href="/logout">Logout</a></li>
        %end
        <li class="list-inline-item"><a href="/signup">Signup</a></li>
    </ul>

  </div>

    <br><p/>

    <h2>{{post['title']}}</h2>
        Posted {{post['date']}}<i> By {{post['author']}}</i><br>
    <hr>
    {{!post['body']}}
    <p>
    <em>Filed Under</em>:
    %if ('tags' in post):
        %for tag in post['tags'][0:1]:
            <a href="/tag/{{tag}}">{{tag}}</a>
            %for tag in post['tags'][1:]:
                , <a href="/tag/{{tag}}">{{tag}}</a>
            %end
        %end
    %end
    <p>
    <em>Category</em>:
            <a href="/category/{{post['category']}}">{{!post['category']}}</a>
    <p></p>
    <ul>
        %if ('comments' in post):
            %numComments = len(post['comments'])
        %else:
            %numComments = 0
        %end

        %for i in range(0, numComments):
            Author: {{post['comments'][i]['author']}}<br>
            {{post['comments'][i]['body']}}<br>
            <hr>
        %end

        <h3>Add a comment</h3>
        <form class="form-horizontal" action="/newcomment" method="POST">
            <input type="hidden" name="permalink", value="{{post['permalink']}}">
            {{errors}}

            <b>Nome</b> (obrigatorio)<br>
            <input type="text" name="commentName" size="60" value="{{comment['name']}}"><br>

            <b>Email</b> (opcional)<br>
            <input type="text" name="commentEmail" size="60" value="{{comment['email']}}"><br>

            <b>Comentario</b><br>
            <textarea name="commentBody" cols="60" rows="10">{{comment['body']}}</textarea><br>

            <input class="btn btn-mini" type="submit" value="Submit">
        </form>

    </ul>

</body>
</html>