<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div>
          <div>
            <div>
                %if (username != None):
                    Welcome {{username}}
                %else:
                    Já é usuario? <a href="/login">Login</a><p>
                %end
            </div>

            <ul class="nav nav-tabs">
                <li class="list-inline-item"><a href="/">Blog Home</a></li>
                %if (username != None and username != '')   :
                    <li class="list-inline-item"><a href="/newpost">Create a New Post</a></li>
                    <li class="list-inline-item"><a href="/newcategory">Create a New Category</a></li>
                    <li class="list-inline-item"><a href="/logout">Logout</a></li>
                %end
                <li class="list-inline-item"><a href="/signup">Signup</a></li>
            </ul>

          </div>
        </div>
        <br><p/>

        <form class="form-horizontal" method="post">
            <fieldset>
                <legend><h3>Login</h3></legend>
                <div class="panel-body">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label" for="username">Username </label>
                            <input type="text" name="username" value="{{username}}">
                        </div>

                        <div class="controls">
                            <label class="control-label" for="password">Password </label>
                            <input type="password" name="password" value="">
                        </div>

                    </div><br>
                    <input class="btn btn-mini" type="submit">
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>