<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Categorias</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body class="container">
    <div >
       <div class="container">
            <div>
                %if (username != None):
                    Welcome {{username}}
                %else:
                    Já é usuario? <a href="/login">Login</a><p>
                %end
            </div>

            <ul class="nav nav-tabs">
                <li class="list-inline-item"><a href="/">Blog Home</a></li>
                %if (username != None):
                    <li class="list-inline-item"><a href="/newpost">Create a New Post</a></li>
                    <li class="list-inline-item"><a href="/newcategory">Create a New Category</a></li>
                    <li class="list-inline-item"><a href="/logout">Logout</a></li>
                %end
                <li class="list-inline-item"><a href="/signup">Signup</a></li>
            </ul>

          </div>
        </div>
        <br><p/>
        <form class="form-horizontal" action="/newcategory" method="POST">
            <fieldset>
                <legend><h3>Cadastro de categorias</h3></legend>
                <div class="panel-body">
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label" for="category">Category Name </label>
                            <input type="text" name="category" size="120" value="{{category}}"><br>
                        </div>
                    </div><br>
                    <p>
                        <input type="submit" class="btn btn-mini" value="Salvar">
                    </p>
                </div>
            </fieldset>
        </form>

        <div id="" class="control-group">
            <fieldset>
                <legend>Categorias Cadastradas</legend>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>Category Name</td>
                            <td>Edit</td>
                        </tr>
                    </thead>

                    <tbody>
                        %for cat in listCategories :
                            <tr>
                                <td>{{cat['category']}}</td>
                                <td>
                                    <a href="/removeCategory/{{cat['_id']}}">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>

                        %end
                    </tbody>
                </table>

            </fieldset>
        </div>

    </div>

</body>
</html>