<!DOCTYPE html>
<html>
<head>
	<title>Criar um novo post</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body class="container">

    <div>
      <div class="container">
        <div>
            %if (username != None):
                Welcome {{username}}
            %else:
                Já é usuario? <a href="/login">Login</a><p>
            %end
        </div>

        <ul class="nav nav-tabs">
            <li class="list-inline-item"><a href="/">Blog Home</a></li>
            %if (username != None):
                <li class="list-inline-item"><a href="/newpost">Create a New Post</a></li>
                <li class="list-inline-item"><a href="/newcategory">Create a New Category</a></li>
                <li class="list-inline-item"><a href="/logout">Logout</a></li>
            %end
            <li class="list-inline-item"><a href="/signup">Signup</a></li>
        </ul>

      </div>
    </div>
    <br><p/>

    %if (erros != ""):
        <div class="alert alert-danger alert-dismissible show" role="alert">
         {{erros}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    %end
	<form class="form-horizontal" action="/newpost" method="POST">
        <fieldset>
            <legend><h3>Create new Post</h3></legend>

            <div class="panel-group">
                <div class="control-group">
                    <h2>Title</h2>
                    <div class="controls">
                        <input type="text" name="subject" size="120" value="{{subject}}"><br>
                    </div>
                </div>
            </div>


		<h2>Blog Entry</h2>
		<textarea name="body" cols="120" rows="20">{{body}}</textarea><br>

        <h2>Categoria</h2>
		<select class="form-control" name="category">
            %for cat in listCategories:
                <option id="{{cat['_id']}}">{{cat['category']}}</option>
            %end
        </select><br>

		<h2>Tags</h2>
		Separados por virgula, por favor<br>
		<input type="text" name="tags" size="120" value="{{tags}}"><br><br>

		<p>
			<input class="btn btn-mini" type="submit" value="Submit">
		</p>
        </fieldset>
	</form>
</body>
</html>