<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>.error {color:red;}</style>
</head>
<body class="container">
    <div>
      <div>
        <div>
            Já é usuario? <a href="/login">Login</a><p>
        </div>

        <ul class="nav nav-tabs">
            <li class="list-inline-item"><a href="/">Blog Home</a></li>
            %if (login != None):
                <li class="list-inline-item"><a href="/newpost">Create a New Post</a></li>
                <li class="list-inline-item"><a href="/newcategory">Create a New Category</a></li>
                <li class="list-inline-item"><a href="/logout">Logout</a></li>
            %end
            <li class="list-inline-item"><a href="/signup">Signup</a></li>
        </ul>

      </div>
    </div>
    <br><p/>
    <h2>Signup</h2>
    <form class="form-horizontal" method="post">
        <div class="panel-group">

            <div class="control-group">
                <label class="control-label">usuário</label>
                <div class="controls">
                    <input class="input-medium span5" type="text" name="username" value="{{username}}">
                    <span class="error">{{username_error}}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Senha</label>
                <div class="controls">
                    <input type="password" name="password" value="">
                    <span class="error">{{password_error}}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Confirme a senha</label>
                <div class="controls">
                    <input type="password" name="verify" value="">
                    <span class="error">{{verify_error}}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Email (opcional)</label>
                <div class="controls">
                        <input type="text" name="email" value="{{email}}">
                    <span class="error">{{email_error}}</span>
                </div>
            </div>


        </div>

        <input class="btn btn-mini" type="submit">
    </form>

</body>
</html>